<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lunzi.camry.mapper.ExeDao">

    <update id="testUpdate">
        update exe set value=#{arg0},version=#{arg1} where id=#{arg2} and version=#{arg3}
    </update>

</mapper>